@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Web

<PageTitle>InternDB</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center text-center" style="min-height: 80vh;">
    <h1 class="display-4 mb-3">Welcome to InternDB</h1>
    <p class="lead">Efficient intern data management.</p>
</div>
